@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import './card.css';
@import './cards.css';
:root{
  --black: #373737; 
  --primary: #ff8e3c; 
  --primary-2: #ff8e3c1A; 
  --white: #ffffff;
  --white-10: #ffffff1A;
  --grey: #535163fc; 
  --red: #fa513a; 
  --grey-2: #a3a3a3;
  --grey-3: #37373733; 
  --bg: #f5f5fa; 
  --caption-bg: #FFD5B6;
  --headline2: 600 1.75rem/normal Poppins; 
  --headline3: 600 1.25rem/1.375rem Poppins; 
  --button: 400 0.875rem/1rem Poppins; 
  --headline1: 600 3.5rem/normal Poppins; 
  --body1-regular: 400 1rem/1.5rem Poppins; 
  --body1-bold: 700 1rem/1.5rem Poppins; 
  --body2-bold: 700 0.875rem/1.5rem Poppins; 
  --body2-regular: 400 0.875rem/1.5rem Poppins; 
  --caption-regular: 400 0.75rem/1rem Poppins; 
  --caption-bold: 600 0.75rem/1rem Poppins; 
}
body {
  color: var(--black);
  background-color: var(--bg);
  font: var(--headline2);
  margin: 0;
}
